/* Charts */

.dough{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }